body{
  margin:0;
  padding: 0;
  background-color: #dce7ef  ;
  font-family: Arial;
}
.titulo{
  margin: 0 auto;
  width: 40%;
}

.formulario{  
  width: 100%;
}

.ptitulos{
  margin-left: 7%;
}
table{
  border: 1px solid black;
  width: 100%;

}
/*
  Mis pruebas css mensaje Error
*/
#MessageError {
  margin: 0 auto;
  margin-top: 2%; 
  width: 41%;
  border-radius: 3px;
  border-color: #ee1c19;
  word-break: break-all;
  word-wrap: break-word;
  animation: blinkerMargin 1s linear infinite;
}
#pError {
  color: red;
  background-color: white;
  padding: 10px;
  margin: 5px;
}
#imgError {
  float:right;
  animation: blinkIcon 0.5s;
  animation-iteration-count: infinite;
  padding:5px;
  margin: 5px;
}
.Login-Style {
  margin:0 auto;
  padding:3%;
  width: 40%;
  background-color: white; 
  box-shadow: 4px 4px 4px 4px #888888;
}

#imageAlert{
  height: 25px;
  width: auto;
  animation: blinkIcon 1s;
  animation-iteration-count: infinite;
}
.Label-Style{
  color: black;
  font-size: 15px;
  word-break: break-all;
  word-wrap: break-word;
}
.h2-Style{
  word-break: break-all;
  word-wrap: break-word;
}
@keyframes blinkIcon {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes blinkerMargin {
  50% {
    background-color: red;
  }
}
table{
  border: 1px solid black;
  width: 100%;

}
.divtabla{
  margin-left: 35%;
  width: 30%;
  margin-top: 5%;
}
.ptituloproyectos{
  text-align: center;
}

.imglogout{
  width: 4%;
  height: 4%;
  padding: 0%;
}
.liimglogout{
  margin-left: 85%;
  display: inline;
  color: white;
}
.lihorizontal{
  display: inline;
  color:   #605f60;

}
nav{
  background-color: black;
  margin-top:-1%;
}
.imgusuario:hover
{
  
  color:#494c46;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  
}

.imglogout:hover{
  
  color:#494c46;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  box-shadow: 0 0 40px #FF2525;
  
}
.imgusuario{
  width: 4%;
  height: 4%;
  
}
.div-father {
  margin:0;
  word-wrap: break-word;
}
.list-projects {
  margin:0;
  width: 50%;
  border:solid;

}
.title-list {
  font-size: 120%;
}
.text-li {
  font-size:100%;
}
a:link {
  text-decoration: none;
}
.p-Title {
  margin-top: 0%;
}