.titulo{
	margin-left: 45%;
	margin-top: 3%;
}

.formulario{
	margin-left: 40%;
}

.ptitulos{
	margin-left: 7%;
}

#notification-message-unread {
  float: right;
  font-size: 10px;
  color: #666;
  background: white;
  padding-left: 10px;
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  background-color: red;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    background-color: blue;
  }